/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/*--------------------------------------------------------General Rules */

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Pangolin", cursive;
  background-color: #306821;
  color: #e4dfd5;
  text-align: center;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  line-height: 1.5em;
}

.controls-container header {
  color: #e4dfd5;
  padding: 0px 15px 30px 15px;
  text-align: center;
}

.owl-image {
  width: 60px;
  padding-bottom: 15px;
}

.controls-container {
  padding-bottom: 40px;
}

/*--------------------------------------------------------Common Button Styling */

.btn {
  box-shadow: 9px 10px 8px -4px rgba(0,0,0,0.59);
}

.btn:active,
.btn:disabled {
  box-shadow: none;
}

.no-shadow {
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:focus,
.load-questions,
.load-questions:active,
.next-question,
.next-question:active,
.begin,
.begin:active {
  background-color: #d31363;
  border: 3px solid #e4dfd5;
  color: #e4dfd5;
  border-radius: 10px;
}

.load-questions:hover,
.load-questions:disabled,
.begin:hover,
.begin:disabled,
.next-question:hover,
.next-question:disabled {
  background-color: #b60f54;
  border-color: #760e39;
}

.btn.disabled,
.btn:disabled {
  opacity: .85;
  cursor: not-allowed;
  box-shadow: none;
}

button:focus {
  outline: none;
}

/*--------------------------------------------------------Background Images */

.backing-image {
  background: url(../images/back-image-middle.jpg) no-repeat top center scroll;
  background-size: 100% 100%;
  min-height: 81vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-image {
  background: url(../images/back-image-top.jpg) no-repeat top center scroll;
  background-size: 100% 100%;
  height: 59px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-image {
  background: url(../images/back-image-bottom.jpg) no-repeat top center scroll;
  background-size: 100% 100%;
  height: 81px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*--------------------------------------------------------Intro Page */

.intro {
  background-color: #353535;
  max-width: 90%;
  margin: 0 auto 50px;
  padding: 6%;
  border-radius: 10px;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Begin button Styling */
.begin-wrapper {
  text-align: center;
}

.begin-wrapper i {
  padding-left: 13px;
}

.begin {
  font-size: 2em;
  max-width: 100%;
  height: 70px;
  padding-left: 15%;
  padding-right: 15%;
}

/*--------------------------------------------------------Mute Sound Button */

.mute-sound {
  float: right;
  font-size: 30px;
  background-color: #26970a00;
  color: #353535;
  padding-right: 20px;
  padding-top: 0px;
}

/*--------------------------------------------------------Quiz Options */

.categories {
  padding-bottom: 30px;
}

.difficulty-level {
  padding-bottom: 30px;
}

.question-quantity {
  padding-bottom: 30px;
}

.quiz-options .list-group button {
  background-color: #e4dfd5;
  margin-bottom: 5px;
  border: 2px solid #000;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}

.quiz-options .list-group button.active {
  background-color: #ffd23f;
  border-color: #000;
  color: #353535;
  margin-bottom: 5px;
  box-shadow: none;
}

.quiz-options .list-group button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.quiz-options .list-group button:hover {
  opacity: .85;
}

.quiz-options .list-group button.active:hover {
  opacity: .9;
}

.quiz-options .group-heading {
  background-color: #353535;
  color: #e4dfd5;
  margin-bottom: 7px;
  padding: 15px 5% 15px 5%;
  border-radius: 10px;
}

.quiz-options {
  padding: 0;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

/* fontawesome icons on option headings */
.icon-left,
.icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 5px 0 5px;
}

/*--------------------------------------------------------Load Questions Button */

.load-questions {
  font-size: 2em;
  width: 55%;
  min-height: 70px;
  padding-left: 0;
  padding-right: 0;
}

/* Loading in progress spinner */
.spinner-border-sm {
  width: 1.2em;
  height: 1.2em;
  margin-right: 7px;
}

.load-questions-wrapper {
  padding: 0 0 40px;
}

/*--------------------------------------------------------Question and Answers Container */

.question-container {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.question-container .question-answers .questions {
  padding: 30px 20px 30px;
  margin-bottom: 7px;
  background-color: #353535;
  color: #e4dfd5;
  border-radius: 10px;
}

.question-container .list-group button:hover {
  opacity: .85;
}

.question-container .list-group button.active:hover {
  opacity: .9;
}

.question-container .list-group button {
  background-color: #e4dfd5;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #000;
  padding: 20px 7px 20px 7px;
  border-radius: 10px;
}

.question-container .list-group button.active {
  background-color: #ffd23f;
  border-color: #000;
  color: #353535;
  margin-bottom: 5px;
}

.tick {
  padding-left: 7px;
}

/*--------------------------------------------------------Finish / Next Question / Reset Button */

.next-question {
  font-size: 1.6em;
  width: 100%;
  min-height: 98px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1.7em;
}

.next-question:disabled,
.reset-button:disabled {
  border: none;
}

.reset-button,
.reset-button:focus,
.action-button .finish-button,
.action-button .finish-button:focus,
.btn-warning:not(:disabled):not(.disabled):active {
  background-color: #ec672e;
  color: #e4dfd5;
}

.reset-button:hover,
.action-button .finish-button:hover,
.action-button .finish-button:disabled {
  background-color: #cf5823;
  border-color: #8f340d;
  color: #e4dfd5;
}

.action-button {
  max-width: 100%;
  margin: 0 auto;
}

/* fontawesome symbol on next question button */
.action-button i {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 5px 0 5px;
}

.display {
  padding-top: 7px;
}

/*--------------------------------------------------------Reset Button */

.reset-button {
  color: #e4dfd5;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  width: 30%;
  min-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 30px 0 10px;
}

/*--------------------------------------------------------Current Quiz status Info */

.display__time-left {
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px 0 5px;
  margin-bottom: 5px;
}

.quiz-score {
  line-height: 2em;
  font-size: .8em;
  color: #e4dfd5;
}

/*--------------------------------------------------------High Scores Table */

.table {
  max-width: 400px;
  margin: 0 auto;
}

/*--------------------------------------------------------Modal */

.modal {
  color: #353535;
}

.modal-content {
  padding: 5%;
  background-color: #e4dfd5;
  border-radius: 20px;
  border: thick dotted #ec672e;
}

/*--------------------------------------------------------Footer */

.footer-container {
  background-color: #353535;
  min-height: 140px;
  text-align: center;
  position: relative;
}

.footer-container li a i {
  color: #e4dfd5;
  font-size: 28px;
}

.footer-terms a,
.footer-terms {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #e4dfd5;
  margin: 0 auto;
  text-decoration: none;
}


/* Color change on hover */

.footer-container li a i,
.footer-terms a {
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
  color: #d31363;
}

.footer-terms .footer-terms-item {
  padding-bottom: 20px;
}

/*--------------------------------------------------------Classes Added/removed with Javascript */

.hide-element {
  visibility: hidden;
}

.time-critical {
  background-color: red;
}

.question-container .list-group .correct-answer,
.question-container .list-group .correct-answer:disabled {
  background-color: #06b906;
  color: #e4dfd5;
}

.question-container .list-group .wrong-answer,
.question-container .list-group .wrong-answer:disabled {
  background-color: red;
  color: #e4dfd5;
}

.reduce-size {
  font-size: 1.2em;
}

.disable {
  opacity: .85;
  cursor: not-allowed;
  pointer-events: none;
}

/*--------------------------------------------------------Media Queries */

@media screen and (min-width: 400px) {
  .question-container {
    max-width: 90%;
  }
  .action-button {
    max-width: 70%;
  }
}

@media screen and (min-width: 576px) {
  .question-container {
    max-width: 80%;
  }
  h1 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.7em;
  }
}

@media screen and (min-width: 768px) {
  .mute-sound {
    font-size: 30px;
    margin-right: 20px;
    padding-top: 0px;
  }
  .action-button {
    max-width: 50%;
  }
  .intro {
    max-width: 60%
  }
  .question-container {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .quiz-options {
    max-width: 90%;
  }
  .load-questions {
    max-width: 340px;
  }
  .categories,
  .difficulty-level,
  .question-quantity {
    padding-left: 20px;
    padding-right: 20px;
  }
  .question-container {
    max-width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .mute-sound {
    margin-right: 40px;
  }
  .question-container {
    max-width: 50%;
  }
}